a {
	text-decoration-line: none;
}
.board-container {
	margin: 30px;
	padding: 20px;
}

.board-header {
	font-size: 50px;
	margin-left: 20px;
}

.board-table {
	font-size: 15px;
	text-align: center;
	margin-top: 20px;
	border: 1px solid gray;
	border-radius: 10px;
}

.board-table-header {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	font-size: 20px;
	background-color: rgb(186, 186, 186);
}

.board-column {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-top: 1px solid gray;
}

.board-num,
.board-cnt {
	width: 10%;
}

.board-title {
	width: 30%;
}

.board-user,
.board-regDate {
	width: 20%;
}
.board-link,
.board-link:hover {
	color: black;
}
.boardBtn {
	display: flex;
	justify-content: right;
	margin: 20px 10px;
	button {
		width: 80px;
		height: 40px;
		border-radius: 8px;
		background-color: #c7d6f3;
	}
}
.page-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	ul {
		display: flex;
	}
}
.pagingBox {
	position: relative;
	justify-content: center;
	margin-top: 10px;
}

.pagination-wrapper {
	display: block;
	min-height: 10;
}

.pagination-wrapper li {
	float: left;
}
