.card {
	width: 200px;
}
.card a {
	text-decoration: none;
	color: inherit;
}
.card-body {
	margin: 0;
	padding: 0;
	text-align: center;
}

.card-img {
	width: 200px;
}

.card-title{
	padding-top: 10px;
}
