.card {
	width: 200px;
	margin: 7px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}
.card a {
	text-decoration: none;
	color: inherit;
}
.card-body {
	margin: 0;
	padding: 0;
	text-align: center;
}

.card-img {
	width: 200px;
}

.card-title{
	padding-top: 10px;
}
